[2019-07-17 14:56] microstream-one opened #1 "Testinger Public"
Wait what?

[2019-07-25 08:09] tm-ms commented on #1
2 reasons:

1.)
The access violation was simply a fogotten null-check. Since the field is accessed via unsafe, a null reference does not just cause a NPE, but crashes the JVM instead.
Funny thing: There's checks and double checks in those methods to cover all kinds of problems or potential future platform incompatibilities. But a simple check for null references (which must be possible), was forgo

[2019-07-26 08:54] tm-ms commented on #2
**Changes:**
- Changed all public BinaryHandler~ constructors to a static pseudo-constructor method called "New".

**Migration guide:**
Replace all direct constructor calls, e.g.
`new BinaryHandlerArrayList()`
by
`BinaryHandlerArrayList.New()`

[2019-07-26 09:14] tm-ms commented on #1
Tested locally, deployed, test in project. Works.

[2019-07-26 09:47] tm-ms commented on #1
**Changes:**
- Fixed a missing null check.
- Can't do anything about JVM crashing on entering a lambda under some mysterious circumstances.

**Migration:**
Nothing required.

[2019-08-05 15:00] tm-ms commented on #3
The logic extension itself was rather tiny:
- Implement XReflect#hasEnumeratedTypeName
- Call XReflect#hasEnumeratedTypeName in Persistence#derivePersistentTypeName and throw an exception on success.

[2019-08-05 15:03] tm-ms commented on #3
*Changes:*
- Implemented XReflect#hasEnumeratedTypeName and called it in Persistence#derivePersistentTypeName to test for not reliably persistable type names

*Migration Guide:*
If an exception regarding the unpersistability of a synthetic class occurs, either refactor your application to not use them for persisted instances (plus create a refactoring mapping for it) OR use a custom PersistableTyp

[2019-08-07 12:42] tm-ms commented on #5
As a consequence, the two methods
`EmbeddedStorage#start(Object, File, StorageConfiguration.Builder)`
`EmbeddedStorage#start(File, StorageConfiguration.Builder)`
are removed as well, since they are merely convenience variations of
`EmbeddedStorage#Foundation(File, StorageConfiguration.Builder)`
themselves.

[2019-08-07 12:50] tm-ms commented on #5
*Changes:*
- removed the following convenience factory methods:
`EmbeddedStorage#Foundation(File, StorageConfiguration.Builder)`
`EmbeddedStorage#start(Object, File, StorageConfiguration.Builder)`
`EmbeddedStorage#start(File, StorageConfiguration.Builder)`

*Migration Guide:*
To fix compiler errors related to this change, simply move the passed directory to setting it to the already passed Storage

[2019-08-08 12:42] tm-ms commented on #6
Implemented, tested and committed.
Done.

[2019-08-13 08:52] tm-ms commented on #7
The cause is not in the transfer algorithm itself, but in the logic that enqueues new entries.
New entries are currently enqueued at the beginning (after the head dummy) instead of at the end, but filPrev and fileNext assignments seem to be unchanged, hence reversing the order (file "next" point to the previous entity). The transfer chain algorithm still works under the assumption that the "next"

[2019-08-14 07:52] tm-ms commented on #7
The cause was indeed the reverse order entity registration.
The fix was simple:
Use prepending logic only for that and revert storing and importing back to appending logic.

Test successful.

[2019-08-21 13:21] tm-ms commented on #8
Implemented and tested.

[2019-10-21 11:09] zdenek-jonas commented on #4
[INFO] Running demo.samples.BackupDBTest
Exception in thread "StorageBackupHandler" one.microstream.storage.exceptions.StorageExceptionBackupCopying: /tmp/BackupStorageApp_work/channel_0/transactions_0.sft@2032+18 -> /tmp/BackupStorageApp_bkup/channel_0/transactions_0.sft
	at one.microstream.storage.types.StorageBackupHandler$Default.copyFilePart(StorageBackupHandler.java:468)
	at one.microstream.

[2019-10-21 12:50] tm-ms commented on #4
The pasted stack trace only occured on AdoptOpenJDK and Oracle JDK 14 early access.
(Which is kind of strange...)

[2019-10-21 13:24] zdenek-jonas commented on #4
Not only, after several hours of testing this bug happens also on others JDKs.

[2019-11-27 11:11] tm-ms commented on #4
Implementing microstream-one/microstream-private#183 implicitely covered this issue as well:
When the storage is deactivated, all threads (including the backup thread) must properly terminate and cleanup their held resources (e.g. close opened files).

[2019-11-29 08:14] tm-ms commented on #4
The backup thread now properly heeds the storage shutdown.
However, there is still a problem regarding microstream-one/microstream-private#183, but by design:
Even when the storage is shut down, the backup thread processes all of its enqueued items. Otherwise, the backup would be incomplete. In turn, this means that the backup threads keeps storage files opened a little longer that what the storag

[2019-12-22 15:02] Dudeplayz opened #2 "Not usable with Java module system"
I've tried to create a test project to use microstream. I want to use the module system, but this isnt possible due the following error:
[code]
It seems, that there is no module-info for microstream because it is written in Java 8 and the maven dependency is resolved to multiple jars which are containing the same package names.

[2020-01-10 14:15] hg-ms opened #190 "Improve behavior if PersistenceTypeDictionary.ptd is missing"
Trying to load an existing storage with a missing PersistenceTypeDictionary.ptd causes an unclear exception.
Maybe the exception could be improved or the storage initialization could handle the case that storage files already exists but the PersistenceTypeDictionary is missing.

[2020-02-03 14:15] tm-ms opened #192 "Validate Channel Folders to Channel Count"
When the storage is initialized, the channel folders contained in the storage directory should be validated against the configured channel count and throw a meaningful exception on a mismatch.

Otherwise, starting a storage with a lower configured channel count than there are channel folders can cause confusing and unsettling exceptions, for example `No roots found for existing data`.

[2020-02-19 13:57] fh-ms commented on #2
The new release 2.2 contains a fat jar artifact, which is compatible with the Java module system.
[code]

[2020-02-20 10:54] #2 closed

[2020-02-21 13:21] zdenek-jonas opened #193 "issueFullFileCheck results in an infinite loop"
I have the following test:
[code]

When i call storageManager.issueFullFileCheck(), the program starts in infinite loop created files in deleted directory.
[code]

[2020-02-24 09:25] tm-ms opened #194 "Arithmetic bug in StorageDataFileValidator#validateFile"
A backup validation exception reported by JM showed that there must be a low-level memory address arithmetic error in `StorageDataFileValidator#validateFile` or actually probably in `BinaryEntityRawDataIterator#iterateEntityRawData` which is used by the validator.

Inner-most cause exception:
[code]

This problem is not critical since the iterator is only used for validation and the exception only

[2020-02-25 09:59] tm-ms commented on #193
The logic causing the looping must still be fixed, but for now, I refined the min/max file size validation by adding a minimum file size range.
The exception message is for example:
`For the specified file minimum size of 2000, the specified file maximum size must at least be 1024 higher (3024 in total), but it is only 2100.`

These minimum values make sense, because without them, the storage mana

[2020-03-23 13:54] zdenek-jonas opened #196 "Cache - add Standard Logging posibility"
It would be nice to have some standard logging possibility, for debug purpose and for Integration works.

Something like in Debug mode:
Microtream Cache started with following config: ......

[2020-04-14 07:31] hg-ms opened #197 "TypeDictionary not recreated after deleting backup directory"
If the backup directory content is deleted the type dictionary file ist not recreated on the next startup.

Observed with 02.02.01-MS-GA and  02.03.00-MS-GA-SNAPSHOT

The storage gets started with:

1. Create storage with content, store something and stop
2. delete backup directory
3. restart storage:
	**==> type dictionary will not be recreated in backup dir**

[2020-04-15 10:54] zdenek-jonas opened #198 "GUI Client is not responsive"
GUI Client is not responsive

It is a question here: Must be really responsive?
I create this issue to discuss it.

![image](https://user-images.githubusercontent.com/17253582/79329396-07801a80-7f18-11ea-8823-f389d5dbb051.png)
![image](https://user-images.githubusercontent.com/17253582/79330101-36e35700-7f19-11ea-9fe0-4e7669e49782.png)

![image](https://user-images.githubusercontent.com/17253582/7

[2020-04-16 06:44] fh-ms commented on #198
If we will provide an UI for mobile devices, we should consider a redesign. The TreeGrid, for example, is not user-friendly at all on small screens.

[2020-04-30 07:55] hg-ms opened #199 "Storage read only mode"
Currently a storage cannot be started in an read only mode. If a user wants to start a storage e.g. for debugging purposes it is up to the user to ensure that no changes are applied to a storage.

Maybe we can provide a mode that guarantees that the storage cannot be altered in any way.

[2020-09-28 09:41] zdenek-jonas commented on #197
Unfortunately, this has another scenario where it does this problem.
If I start an application with an existing storage and with another backup directory (for example with a date), the type dictionary is not transferred to this new backup directory.

[2020-09-28 15:38] fh-ms commented on #197
PersistenceTypeDictionaryFileHandler has a PersistenceTypeDictionaryStorer as a writeListener, which is provided by the StorageBackupFileProvider. But the writeListener only gets called when the type dictionary changes. It is not included in the initial synchronization of the backup.

[2021-01-18 06:41] zdenek-jonas opened #205 "Eliminate null in StorageConfiguration.toString()"
Currently we have the following output in case of non-existent backup configuration:

[code]
The last null is caused by a non-existent backup configuration. For example, it would be a good idea to write "BackupConfiguration = null" before this output.
 Simply give the user the ability to know which part of the configuration is not active at all, instead of listing just null.
method:

`StorageConfi

[2021-01-20 16:03] fh-ms opened #206 "Top-level persistence API"
For an easier usage of our serialization features, we want to offer a more convenient top-level API. Think of a pendant to the ObjectInputStream and ObjectOutputStream. Target is to make it as easy as possible to serialize and deserialize object-graphs from and to different targets.

[2021-01-21 12:42] fh-ms opened #207 "Deep copy utility"
Many customers and our inhouse project teams as well, stated that a deep copy utility for object graphs would come in very handy, for various use-cases. This should be pretty easy to do given our serialization capabilities.

[2021-01-21 12:54] fh-ms opened #208 "Rollback / Reload Functionality"
In order to synchronize the object graph with the storage data, a reload functionality has been requested; like a rollback function in other frameworks.
Basically it is doable right now, with the given API. But a convenient `reload(Object)` method in the storage manager would be a better experience.

[2021-02-19 18:59] belu opened #3 "Typo in RuntimeException for memory quota outside valid range"
When providing an invalid memory quota (e. g. < 0) to `Lazy.Checker()` a `RuntimeException` is thrown:

`Caused by: java.lang.RuntimeException: Memory quora must be in the range [0.0; 1.0].`

It should state `Memory quota` and not `Memory quora`.

[2021-02-21 17:04] belu opened #4 "Docs: Typo in "Application Life-Cycle""
Manual page: https://manual.docs.microstream.one/data-store/monitoring

In the sentence `What it there's an error and the process stops without calling shutdown()?` the `it` should be replaced with `if`.

In the sentence `It wouldn't be much of a database solution if crash could cause ...` it should say `if a crash`.

The word `surprinsingly` should be `surprisingly` :-)

[2021-02-22 12:33] #4 closed

[2021-02-22 12:34] fh-ms commented on #4
Typos are fixed. Thanks for pointing out.

[2021-02-24 16:59] marcelbaumann opened #5 "Java Module Definition Missing and Names not following official naming conventions"
Did I correctly interpret your documentation under https://manual.docs.microstream.one/installation#modules that microstream library is delivered as a Java module?

1. The official maven download of storage-04.01.00-MS-GA.jar does **not** contain any **module-info.class** file and therefore does not support modules. Could it be a configuration error in your CI. _And also has no 'Automatic-Module-N

[2021-02-24 17:02] marcelbaumann opened #6 "Support for records and sealed types with JDK 16"
The current microstream version crashes if records are used in JDK 15 (preview records) or preview version of JDK 16 (records).

It would be nice if next versions of microstream supports records and sealed types. JDK 16 shall be officially released in less than 3 weeks.

[2021-02-24 17:02] marcelbaumann opened #223 "Support for records and sealed types with JDK 16"
The current microstream version crashes if records are used in JDK 15 (preview records) or preview version of JDK 16 (records).

It would be nice if next versions of microstream supports records and sealed types. JDK 16 shall be officially released in less than 3 weeks.

[2021-02-25 08:31] fh-ms commented on #5
The modules in the installation chapter refer to maven modules.

Due to limitations in package handling in the JMS, we had to find a different solution. We offer a single fat-jar for JMS projects, see https://manual.docs.microstream.one/data-store/faq/java-features#does-microstream-work-with-the-java-module-system-jigsaw

[2021-02-25 08:31] #5 closed

[2021-02-25 08:41] fh-ms commented on #3
Fixed, thanks for pointing out.

[2021-02-25 08:41] #3 closed

[2021-03-03 12:23] JMMSW opened #209 "Changing enum content: Storage startup fails with "PersistenceException: Unknown TypeId""
Starting a storage fails with error "PersistenceException: Unknown TypeId" when there is a enum that was changed in a certain way:

- first needs to be a change in the enum entry order
- second, a new enum entry has to be added.

A example project was added:
See "org.example.msenumtest.ms.EnumExampleA"
[ExampleProject.zip](https://github.com/microstream-one/microstream-private/files/6075904/Exampl

[2021-04-14 07:30] hg-ms opened #210 "StorageViewer Error if connecting to a Storage without persisted "root""
If connecting to a new storage that has no previously peristed root, the Viewer shows internal errors instead of a empty "Root":
[code]
[code]

[2021-04-18 18:04] notsharable opened #7 "Getting Exception in thread "main" one.microstream.persistence.exceptions.PersistenceExceptionImproperObjectId"
Hi,

when executing the following
	public static void withCodeConfig() {
		DataRoot root = new DataRoot();

		final EmbeddedStorageManager storageManager = Configuration.Default()
			    .setBaseDirectoryInUserHome("data-dir")
			    .setBackupDirectory("backup-dir")
			    .setChannelCount(4)
			    .createEmbeddedStorageFoundation()
			    //.start(root);
			    //.setRoot(root)
				.createEmbed

[2021-04-21 13:50] hg-ms commented on #7
Hello,
The exception is caused by an invalid ObjectId (a value <= 0 is read but should be > 0) read from the storage during startup. Why this happens is hard to say without additional details. Maybe there was already an old storage from earlier experiments?

Can you reproduce the error if you re-create the storage into new (empty) directories?
(To delete a storage just delete the related directori

[2021-04-21 17:01] notsharable commented on #7
Thanks hg-ms for the hints and clarifications.

There was indeed a stale data  directory named "storage" I do not recall having created that as my initial experiment was the "Hello World @!"  using Paths.get("data") to specify data directory.

After removing the directory the problem was gone.

Thanks

[2021-04-21 17:01] #7 closed

[2021-04-21 17:23] notsharable opened #8 "Problem when running with Configuration.Default() .setBaseDirectoryInUserHome("data-dir").setBackupDirectory("backup-dir")"
Hi,

with this config
final EmbeddedStorageManager storageManager = Configuration.Default()
			    .setBaseDirectoryInUserHome("data-dir")
			    .setBackupDirectory("backup-dir")
			    .setChannelCount(2)
			    .createEmbeddedStorageFoundation()
				.createEmbeddedStorageManager();

If I keep .setChannelCount(2), everything works fine the first time I run  the code (with no pre-existing data di

[2021-04-21 17:23] notsharable opened #222 "Problem when running with Configuration.Default() .setBaseDirectoryInUserHome("data-dir").setBackupDirectory("backup-dir")"
Hi,

with this config
final EmbeddedStorageManager storageManager = Configuration.Default()
			    .setBaseDirectoryInUserHome("data-dir")
			    .setBackupDirectory("backup-dir")
			    .setChannelCount(2)
			    .createEmbeddedStorageFoundation()
				.createEmbeddedStorageManager();

If I keep .setChannelCount(2), everything works fine the first time I run  the code (with no pre-existing data di

[2021-04-21 17:26] notsharable commented on #222
The logic being executed is this

public static void withCodeConfig() {
		DataRoot root = new DataRoot();

		final EmbeddedStorageManager storageManager = Configuration.Default()
			    .setBaseDirectoryInUserHome("data-dir")
			    .setBackupDirectory("backup-dir")
			    .setChannelCount(2)
			    .createEmbeddedStorageFoundation()
				.createEmbeddedStorageManager();
		storageManager.start();

[2021-04-23 08:54] hg-ms commented on #222
Hello

Unfortunately, you encountered Bug that is caused by the interaction of Configuration, Backup, and multiple channels. There is already an internal issue we are working on.

In the meantime, you have two possible workarounds:
1.	Set the channel count to 1
or
2.	Use the StorageConfiguration.Builder instead of the Configuration API and ensure that the StorageFileProvider and the StorageBackupS

[2021-05-06 13:55] fh-ms opened #214 "Support ObjectStreamFields besides transient keyword"
Our default PersistenceFieldEvaluator checks if a field is not transient. The Java serialization spec also has another method: ObjectStreamFields:
https://docs.oracle.com/javase/8/docs/platform/serialization/spec/serial-arch.html#a6250

This is an addition we should consider.

[2021-05-11 09:18] marcelbaumann commented on #223
Is any roadmap available when MicroStream shall support the official JDK 16. Records are now an official feature of Java and the next Java LTS is around the corner.

[2021-05-11 14:01] fh-ms commented on #223
MicroStream will support records in the next release (5.0) which will be available at end of May.
With this release we will go open source, then the roadmap and development process will become more transparent.

[2021-07-23 10:23] fh-ms opened #225 "Buffer Flush Regression in XIO#write"
## Environment Details
* MicroStream Version: 05.00.00-MS-GA, 05.00.01-MS-GA
* JDK version: 8
* Windows 10

## Description
To ensure a physical buffer flush the XIO methods were updated to call different FileChannel#write methods and a subsequent flush. But the FileChannel#write(ByteBuffer[]) seems not to work reliably with bigger data.

## Proposed fix
We have to remove the calls to the probably

[2021-07-23 10:44] fh-ms commented on #225
Not reproducible under Linux. Probably a bug in the Windows NIO natives.

[2021-07-23 12:30] fh-ms commented on #225
Fixed.

[2021-07-23 12:30] #225 closed, assigned to fh-ms

[2021-07-27 07:27] hg-ms opened #226 "Persisted Cache not correctly loaded by Cache.forEach method"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA and earlier
* JDK version: 11
* OS: Win10

## Describe the bug
A persisted Cache is not correctly loaded using the Cache.forEach method.

## To Reproduce
1. Create a persistent microstream cache containing some elements.
2. Restart the application and try to iterate the persisted cache's entries using the Cache.forEach method.
    Do not

[2021-08-19 12:49] fh-ms opened #233 "Empty java.util.PriorityQueue causes IllegalArgumentException when loaded"
## Environment Details
* MicroStream Version: 05.00.02
* JDK version: all
* OS: all

## Describe the bug
Bug in type handler for java.util.PriorityQueue.
An exception is thrown when an empty queue is loaded.
[code]

Include stack traces or command outputs

## To Reproduce
Just save an instance without data of java.util.PriorityQueue and restart the storage.

[2021-08-19 13:13] fh-ms commented on #233
Fixed by #234

[2021-09-02 10:57] zdenek-jonas opened #236 "Add a mechanism to prevent writing to the Object Graph when it is saved."
Currently, problems can occur if the object graph is modified by another thread at the time it is saved. This can occur when using e.g. MVC frameworks, when several parallel requests cause writing to the object graph.

The suggestion is to add a mechanism that will process and save these changes to the object graph sequentially in the queue so that no change occurs when the change is saved.

[2021-09-09 09:03] MutenRoshi84 opened #237 "Overload of the MicroStream DB with write-intensive processes"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA
* JDK version: RapidClipse X - Version: 10.4.0 - Build in JRE: org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_14.0.2.v20200815-0932
* OS: Windows 10 Pro 21H1
* Used frameworks: RapidClipse X - Version: 10.4.0-20210511-1139
* IDE/Webserver: RapidClipse X (10.4) with Tomcat 9

## Describe the bug
I am developing a webshop with Rap

[2021-09-09 09:35] MutenRoshi84 opened #238 "ClientGUI 05.00.02-MS-GA is not working with Tomcat"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA
* JDK version: RapidClipse X - Version: 10.4.0 - Build in JRE: org.eclipse.justj.openjdk.hotspot.jre.full.win32.x86_64_14.0.2.v20200815-0932
* OS: Windows 10 Pro 21H1
* Used frameworks: RapidClipse X - Version: 10.4.0-20210511-1139
* IDE/Webserver: RapidClipse X (10.4) with Tomcat 9

## Describe the bug
After updating the MicroStream-DB

[2021-09-09 12:24] hg-ms commented on #238
In 05.00.00-MS-GA  the 'microstream-storage-restservice-sparkjava' has been updated to use the problematic sparc-java version 2.9.3.
Maybe you can enforce the usage of an older sparkjava version.
With Maven just add the older  dependency to your apps pom.xml:

[code]

[2021-09-10 08:39] hg-ms commented on #237
The described behavior indicates a multithreading issue. Would it be possible for you to create a tread dump from the sticking threads?

We are already investigation similar issues.

[2021-09-10 09:19] zdenek-jonas commented on #223
Support for records is implemented in release 5. This closes this issue.
If you have a specific problem, please open a new one.

[2021-09-10 09:19] #223 closed, assigned to nobody

[2021-09-10 09:23] zdenek-jonas commented on #198
This View is for Debug purposes only. Debug on a mobile device is very unlikely. I am closing this issue as author.

[2021-09-10 09:23] #198 closed, assigned to nobody

[2021-09-10 13:11] MutenRoshi84 commented on #237
I've made a full thread dump, because I doesn't know which is the important part for you. The thread dump shows that there is a dead lock.

[Full Thread Dump_Sync Prods and Users.txt](https://github.com/microstream-one/microstream/files/7143986/Full.Thread.Dump_Sync.Prods.and.Users.txt)

[2021-09-10 13:41] MutenRoshi84 commented on #238
That's working. Thanks!

[2021-09-10 21:36] SR-Lut3t1um opened #241 "Cannot persist a StringProperty"
Hello,
I'm running into an issue when using JavaFX, where I'm trying to persist a StringProperty that has the default listeners added via adding them to a table. However since the invalidation listener is a weak reference, which cannot be persisted I'm running into a exception, that makes persisting it impossible. I tried to create a custom BinaryTypeHandler however it does not have a Binary_Strin

[2021-09-13 05:30] zdenek-jonas commented on #233
Ok, fixed

[2021-09-13 05:30] #233 closed, assigned to fh-ms

[2021-09-13 08:02] #238 closed, assigned to nobody

[2021-09-14 11:14] #241 closed, assigned to nobody

[2021-09-16 05:45] hg-ms commented on #237
Many thanks for the dump, it is quite informative. The interesting information is at the end of the dump, showing that there is deadlock inside our code. The good new is that https://github.com/microstream-one/microstream/pull/240 addresses that issue, it is already integrated into the master branch.

[2021-09-16 06:51] MutenRoshi84 commented on #237
This is really good news. Is there already a planned date on which a new release should be published?

[2021-09-16 07:15] fh-ms commented on #237
Next release is planned for October 11
https://github.com/microstream-one/microstream/milestone/2

[2021-09-16 07:37] #226 closed, assigned to zdenek-jonas, fh-ms

[2021-09-16 07:54] fh-ms commented on #207
To finalize this feature, we should add proper documentation.

[2021-09-16 11:08] oscheffers opened #244 "Set.of() not handled properly"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA
* JDK version: adopt-openjdk-16 (version 16.0.1)
* OS: Windows 10 Pro 64-bit
* Used frameworks: Microstream only

## Describe the bug
When I create a immutable leaf in my object node that contains a Set created by Set.of(), it is not read back properly. In my case I used a Set of Role enums for a user, but I made an example here with jus

[2021-09-16 12:23] fh-ms commented on #244
The implementations of immutable collections in the JDK are a bit -  let's call them special. We probably need to implement specialized type handlers for them.
@zdenek-jonas please confirm

[2021-09-16 12:32] oscheffers commented on #244
Just confirmed List.of() has comparable behavior (additional java.lang.Object at the end of the list). Map.of() seems to work fine.

[2021-09-16 12:35] hg-ms commented on #244
I can reproduce the issue with AdoptOpenJDK-16.0.1+9
but not with AdoptOpenJDK-11.0.11+9

[2021-09-16 12:37] zdenek-jonas commented on #244
I just wrote a vm test. After one hour we will know exactly, with versions of JVM have this problem.

EDIT: It happens from JAVA 15

[2021-09-16 14:00] mh-xdev opened #245 "Can't read data of LocalDateTime object from MicroStream database on Android"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA
* JDK version: JDK 11
* OS: Android API Level 30 (Minimum: 26 - Target: 31)

## Describe the bug
I've been attempting to implement a MicroStream database in an Android app in order to implement a offline storage. I have a object that for example contains various strings, other objects and a LocalDateTime object. While I'm able to save al

[2021-09-17 01:21] eucariop opened #248 "DB2 support"
will it be possible to support IBM DB2?

[2021-09-17 09:23] hg-ms commented on #248
We currently don’t plan to add support for IBM DB2 in the OpenSource Version.

[2021-09-17 09:43] hg-ms commented on #245
Unfortunately, Google restricts the reflections access to many classes more and more. Those hidden fields can’t be found by the generic type handler an don’t get persisted
(https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces).
To solve this issue CustomTypeHandlers could be implemented for the affected classes .

[2021-09-20 09:04] MutenRoshi84 opened #250 "store()/storeAll() causes "Storage is shut down." exception when garbage collection is involved"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA

## Describe the bug
Since I synchronize larger amounts of data at night, I activated the MicroStream GarbageCollector, carried out the GarbageCollection and deactivated the MicroStream GarbageCollector again.
After an indefinite period of time, the already known problem with store () / storeAll () and the exception "Storage is shut down

[2021-09-21 07:10] fh-ms opened #251 "Add type handler for CopyOnWriteArraySet"
Time to extend our range of type handlers. In the same manner, like CopyOnWriteArrayList we need a specialized type handler for the CopyOnWriteArraySet.

The problem with this type is, that a new instance is stored correctly, but changed instances are not updated in the storage, because the CopyOnWriteArraySet uses a CopyOnWriteArrayList internally, which is not updated.

[2021-09-21 12:59] #251 closed, assigned to fh-ms

[2021-09-21 13:02] #207 closed, assigned to fh-ms

[2021-09-21 13:03] zdenek-jonas commented on #207
https://docs.microstream.one/manual/storage/storing-data/deep-copy.html

[2021-09-21 13:36] zdenek-jonas opened #253 "Adding new TypeHandler raise an Exception on the old storage"
Adding new Type Handler raised ` java.lang.UnsupportedOperationException` on existing storage, when the current Type is already saved with generic type handler.

Just now for: `java.util.concurrent.CopyOnWriteArraySet`

Exception:
[code]

[2021-09-22 06:11] hg-ms commented on #250
Hello,
The “Storage is shutdown” Exceptions usually gets thrown when you try to access the storage after a #shutdown() has been initiated. This can be done by your code or from the storage itself in case of internal errors.

The Logs above don’t show any cause why the storage has been shut down.
Are there any other logs from the Server available that may have logged such an exception?
Normally the

[2021-09-23 07:47] hg-ms commented on #244
@zdenek-jonas I wrote handlers for the affected classes available in [branch Set12-List12-TypeHandlers](https://github.com/microstream-one/microstream/tree/Set12-List12-TypeHandlers). Maybe you can do some extended testing before I create a PR.
The handlers should be compatible for all java versions

[2021-09-24 12:35] mh-xdev opened #254 "Data import fails when more than one channel is being used"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA
* JDK version: 11
* OS: Windows 10 20H2 (Build 19042.1237)
* Used frameworks: Micronaut

## Describe the bug
I've tried to import data using the Data [Import / Export feature](https://docs.microstream.one/manual/storage/import-export.html) into a MicroStream database inside a application that uses the Micronaut framework. However, I've n

[2021-09-27 10:22] MutenRoshi84 commented on #250
No, that was/is the only available log.

Is there a reason why there is no information about this in the console/logs? Would be very informative to know.

I did it in the try / catch block, but as you pointed out, no exception occurred on startup.

Please note that the problem with the storage only occurs in connection with the GC. If this is deactivated, the storage can be used normally again.

I

[2021-09-29 12:31] hg-ms commented on #250
I made an bad typing error in my last post I have to apologize for:

I wrote
“Normally the storage should not throw a exception if it triggers a shutdown because of internal errors.”

But it should be
“Normally the **storage should throw a exception** if it triggers a shutdown because of internal errors.”

[2021-09-29 13:39] hg-ms commented on #250
You can’t prevent the LazyReferenceManager from starting but it’s ok to stop it immediately after starting the storage:
[code]
 If the LazyReferenceManager is stopped Lazy-References won’t be cleaned automatically but this should be no problem if you don’t use them.

The LazyReferenceManager’s related shutdown issue should not have an impact on the GC. LazyReferenceManager.get().stop() just does n

[2021-10-01 06:49] MutenRoshi84 commented on #250
Thanks for the hint.

Do you have any other suggestions what I can do?

Where can / should I catch this exception?

For logging I'm using Log4j in combination with SLF4J. I adjusted my Log4j config and set the log level from "Debug" to "Trace".
[code]
Are further settings advisable to get better logging of the db? Sorry, I am not so familiar with logging.
In addition, I have now also packed the se

[2021-10-01 08:00] hg-ms commented on #254
Fix available in PR #262

[2021-10-01 12:02] hg-ms commented on #250
Nearly every Microstream call can throw exceptions. Especially the “store” calls may be interesting.

Microstream itself has no logging that could be enabled.

As you don’t have any other logs I run out of ideas. I would have expected your webserver to log any uncatched exception.
Did you check your code if there are catch clauses that swallow excptions?

[2021-10-05 11:07] MutenRoshi84 commented on #250
The problem doesn't seem to be primarily with the store () / storeAll () methods, but with GarbageCollection.
See my description at the beginning (source code and "GC on / off"). It seems like the GC has an internal error causing the storage to shut down.

In this regard, I have again made outputs that show the status of the storage. Please pay attention to the status "isShutdown".

Garbage collec

[2021-10-06 11:24] hg-ms commented on #250
Many thanks for the detailed logging of the storage’s state. With that and the previous logs you already provided I must admit that this is a new Bug we did not observe until now.

An issue that causes the storage to shut down without an exception in interaction with the GC is new. With simpler scenarios we where not able to reproduce this until now. But we still try to do so.

I doubt that this i

[2021-10-11 13:51] MutenRoshi84 commented on #250
My approach is to start the GC manually at a much later point in time. Because apparently the crux of the matter is that the problem occurs when the GC is executed directly at the start of the application and the DB. If the GC runs later then the problem does not seem to occur.

---

I tried to start the storage again after it was shut down when the GC started and got the following output. This ma

[2021-10-12 08:34] hg-ms commented on #250
Many thanks for the additional log.
In the meanwhile, we were able to create a scenario that reproduces your initial problem (storage is shut down after gc).

[2021-10-12 09:11] MutenRoshi84 commented on #250
You are welcome.
This is great news!

[2021-10-12 12:47] MutenRoshi84 commented on #250
I think that was a typo and you must mean StorageEventLogger.Debug().

I implemented it and got the following output, which you have probably already seen in connection with the "StorageIsShutdown" exception:
[code]

[2021-10-13 07:55] MutenRoshi84 commented on #250
I have to correct myself. This exception "StorageIsShutdown" also occurs if the GC is started manually later and not only to start the application / database.

---
Is this a bug that is a high priority for you and you are currently working on a solution?

[2021-10-13 08:18] hg-ms commented on #250
The NullPointer "Cannot read field file because <parameter1> is null" indicates that this is the same bug we can reproduce and we're currently analyzing.

[2021-10-13 08:20] hg-ms commented on #250
Yes, we're working on that currently. But currently I can't make any estimations how long this will take.

[2021-10-22 05:07] hg-ms commented on #254
Fixed in version 06.00.00-MS-GA

[2021-10-22 05:07] #254 closed, assigned to nobody

[2021-11-04 15:42] MutenRoshi84 commented on #250
It's nice to hear that the cause has been found and resolved!
Is it planned or possible to release a bugfix release soon instead of waiting for the major release? That would be really great and I would be very grateful to you!

[2021-11-05 09:57] hg-ms commented on #250
Is it planned or possible to release a bugfix release soon instead of waiting for the major release? That would be really great and I would be very grateful to you!

We plan to do a minor release containing that fix. Please apologize that I can't tell when this will be available at the moment.

[2021-11-09 06:03] hg-ms commented on #194
fixed with https://github.com/microstream-one/microstream/pull/273

[2021-11-09 06:03] #194 closed, assigned to tm-ms, hg-ms

[2021-11-10 08:00] fh-ms opened #277 "Deprecated API subject to removal"
Following deprecated API should be marked to be removed in version 8.

- cache/cache
  - one.microstream.cache.types
    - CacheConfiguration#deprecated-methods
    - CacheConfigurationLoader
    - CacheConfigurationParser
    - CacheConfigurationPropertyParser
    - CacheLoaderWriterFactories
  - one.microstream.cache.exceptions.**
- persistence/persistence
  - one.microstream.persistence.interna

[2021-11-10 12:26] hg-ms opened #279 "Exception when starting new Storage with same StorageConfiguration"
[code]

Code to reproduce:
[code]

[2021-11-10 12:35] hg-ms commented on #279
The Exception is caused by one.microstream.afs.types.AFile.Wrapper.Abstract.actual() which did not take into accunt that the actual AFile could be a wrapper

[2021-11-11 08:57] #279 closed, assigned to nobody

[2021-11-16 11:58] hg-ms commented on #250
Hello,
We just released the new Version 06.01.00-MS-GA that contains several bug fixes including fixes for this issue.

[2021-11-17 08:24] hg-ms opened #282 "AfsExceptionExclusiveAttemptConflict: File is already used by a different exclusive user on restart"
[code]

After fixing #279 that exception gets reproducible thrown after restarting a storage several times if the continuous Backup is enabled.

The Exception is thrown because the AccessManager instance does not deregister the affected file on shutdown. At the next restart the error is caused.

[2021-11-17 08:25] hg-ms commented on #282
Here is why the transaction log file is not released during the shutdown:

The shutdown in the StorageSystem class has several steps:
1.	The continuous backup is stopped
2.	The channels are stopped
3.	When all channels are stopped successfully the StorageOperationController gets disabled.

The StorageOperationController gets stopped in StorageChannelTaskShutdown.Default.succeed(StorageChannel, Voi

[2021-11-17 15:36] #250 closed, assigned to nobody

[2021-11-30 11:53] hg-ms opened #285 "Exceptions during housekeeping causes storage to be stalled"
In case of an exception during the housekeeping phase a storage with more then one channel gets stalled.

Analsysis:
If the housekeeping in one.microstream.storage.types.StorageChannel.Default.work() throws an excption the affected channel closes itself but the error is not propagated to the StorageSystem.
Therefore all unaffected StorageChannelThreads won’t be stopped. If they are in a waiting st

[2021-11-30 13:50] #282 closed, assigned to hg-ms

[2021-12-06 09:39] #248 closed, assigned to nobody

[2021-12-06 10:10] zdenek-jonas commented on #244
Already added.

Documentation, how to use it:
https://docs.microstream.one/manual/storage/addendum/specialized-type-handlers.html

[2021-12-06 10:10] #244 closed, assigned to zdenek-jonas

[2021-12-10 12:20] zdenek-jonas opened #289 "Deprecated method newInstance()"
Method  `clazz.newInstance()` is sice java 9 deprecated, should be replaced with: `clazz.getDeclaredConstructor().newInstance()`

We have two place in Microstream:
[code]

[2021-12-10 12:23] zdenek-jonas opened #290 "Deprecated method: Unsafe.enuseClassInitialized sice java 15"
Method Unsafe.enuseClassInitialized is deprecated and also mark for removal...

[code]

We use this method in class:
`base/src/main/java/one/microstream/memory/sun/JdkInternals.java:1014`

The suggested method is exists from java 15

[2021-12-10 18:54] zdenek-jonas commented on #289
Another place:
`src/main/java/one/microstream/afs/sql/types/SqlFileSystemCreator.java:67`

[2021-12-15 08:38] fh-ms opened #293 "Logging"
To achieve better useability we will add logging to the core modules.

We only log against a facade (slf4j), not a logger implementation to provide the best flexibility for our users.

See branch [feature/logging_slf4j](https://github.com/microstream-one/microstream/tree/feature/logging_slf4j)

Feel free to comment on this issue, to collect ideas where logging can be of interest.

[2021-12-15 08:41] fh-ms commented on #293
- [x] Lifecycle of EmbeddedStorageManager
- [x] Lifecycle of StorageSystem
- [x] Lifecycle of StorageChannels
- [x] BinaryStorer actions (register, store, commit)
- [x] BinaryLoader actions
- [x] Lazy Loading
- [x] Lifecycle of LazyReferenceManager
- [x] GC actions
- [x] Backup
- [x] Configuration creation
- [ ] AFS

[2021-12-15 08:51] 54446776 opened #294 "Take 37ms to store a List<Long>"
[code]

Average storage time is 37ms in my Mac Book Pro M1. Replace ArrayList with EqHashTable, storage performance is almost same.

[2021-12-15 09:42] zdenek-jonas commented on #294
This Problem is based on another implementation of Mac OS flush:
https://bugs.openjdk.java.net/browse/JDK-8205162 which is slow under Java > 8
We have found this problem already and the fix is already merged in master:
https://github.com/microstream-one/microstream/pull/287

The new release of Microstream will have this fix.
When I tried now your code under our actual dev code on MacOS:
![image](h

[2021-12-15 09:53] hg-ms commented on #293
- [x] TypeHandler creation/registration
- [x] LegacyTypeHandler creation/registration
- [x] LegacyTypeMapping
- [x] Housekeeping

[2021-12-15 10:34] 54446776 commented on #294
Thx for the quick reply. Waiting for the new version. When will be released?

[2021-12-15 13:13] fh-ms commented on #294
The next major release is in April, maybe some patch releases in between.
But you can clone the repo and build it yourself anytime.

[2021-12-17 06:21] hg-ms commented on #293
- [x] Logging the mircostream version at startup would be fine too

[2021-12-17 11:43] zdenek-jonas commented on #294
I'm closing this Issue because the enhancement is already implemented. In case of further problems, you can reopen this Issue or create a new one for a different type of problem.

[2021-12-17 11:43] #294 closed, assigned to nobody

[2021-12-17 12:16] zdenek-jonas commented on #293
https://github.com/microstream-one/microstream/issues/196
There is another issue with logging. Just to write actual configuration into the log.
- [x] Cache

[2021-12-23 10:51] zdenek-jonas commented on #237
Fix already published.
If the problem occurs again, you can reopen this issue or create a new one.

[2021-12-23 10:51] #237 closed, assigned to nobody

[2021-12-23 12:21] zdenek-jonas commented on #205
fixed, merged in master

[2021-12-23 12:21] #205 closed, assigned to zdenek-jonas

[2022-01-03 07:22] zdenek-jonas commented on #193
Test udpate to new Api:

[code]

[2022-01-06 04:42] 54446776 opened #298 "Channel data files grow continually"
Running a simple persistent sequence id program, data direcotry size grows to 88.3M. Run program multi times,  data direcotry size keep growing. Oldest dat files can't be GC.

Do I use MicroStream correctly?
(Mac M1, Java 17, 07.00.00-MS-GA-SNAPSHOT)

[code]

[code]

[code]

[code]

[code]

[2022-01-10 14:05] hg-ms commented on #298
The behavior is mainly caused by the (currently) disabled garbage collection in the storage entity cache. You can enable/disable it with the static method `StorageEntityCache.Default.setGarbageCollectionEnabled(true)`
and force a gc run with `one.microstream.storage.types.StorageConnection.issueFullGarbageCollection()`
(The method setGarbageCollectionEnabled is marked as deprecated because java 8

[2022-01-13 07:40] 54446776 commented on #298
Is there any plan that storage-level gc will be ready for production?

// (24.11.2017 TM)TODO: there seems to still be a GC race condition bug, albeit only very rarely.
private static boolean experimentalGcEnabled = false;

/!\ EXPERIMENTAL /!\ Storage-level garbage collection is an unfinished feature with a still tiny race condition problem that can cause the database to be ruined occasionally.
p

[2022-01-13 09:07] #289 closed, assigned to nobody

[2022-01-14 06:10] hg-ms commented on #298
We’re working on that issue. The release 06.01.00-MS-GA and 06.00.00-MS-GA already cointain several changes related to it. But until we are sure the gc related problem is solved we will not enable it by default and keep the API experimental.
We are optimistic that we can remove those warnings in one of the next releases and promote that API to a regular one.

[2022-01-14 07:18] 54446776 commented on #298
Thx hg-ms.

[2022-01-14 07:18] #298 closed, assigned to nobody

[2022-01-19 08:12] #285 closed, assigned to hg-ms

[2022-01-21 09:07] hg-ms opened #304 "Insufficient Documentation for StorageManager.storeRoot()"
The Manual and JavaDoc related to the method storageManager.storeRoot() may be misleading regarding its usage. We should explicitly state that multiple calls of “storeRoot()” won’t update the whole object graph as storeRoot() also uses the default Lazy-Store behavior.

See:
https://docs.microstream.one/manual/storage/getting-started.html
https://docs.microstream.one/manual/storage/root-instances.h

[2022-02-08 08:06] 54446776 opened #308 "StorageConnection.getObject(final long objectId) hang at 0fbeda31 Revision"
## Environment Details
* MicroStream Version: 07.00.00-MS-GA-SNAPSHOT
* JDK version: 17.0.1
* OS: macOS Monterey
* Used frameworks: none

## Describe the bug
pull 0fbeda31 and compile, unit test hang.
program working fine with Revision e131a08c.

unit test start log:
15:35:51.575 INFO  one.microstream.util.logging.Logging - MicroStream Version 07.00.00-MS-GA-SNAPSHOT
15:35:51.582 INFO  o.m.c.t.Con

[2022-02-09 08:17] hg-ms commented on #308
Hello,
As our tests don’t show any problems regrading the latest commits and I was not able to reproduce that behavior in a simple scenario I assume that there is a jet not known condition that causes the stall.

May I ask you to provide a thread dump of the hanging unit test if possible?

[2022-02-09 12:02] 54446776 commented on #308
2022-02-09 19:59:47
Full thread dump Java HotSpot(TM) 64-Bit Server VM (17.0.1+12-LTS-39 mixed mode, sharing):

Threads class SMR info:
_java_thread_list=0x0000600030edff40, length=20, elements={
0x000000015380d200, 0x0000000153863600, 0x0000000154a08800, 0x0000000153863c00,
0x0000000153864200, 0x0000000153864800, 0x0000000153864e00, 0x0000000143042e00,
0x0000000153023000, 0x0000000143043400, 0x00

[2022-02-09 14:39] hg-ms commented on #308
Many thanks for the tread dump. It is quite informative. Seems that there is a concurrency problem with Lazy-References and the lazy reference manager.

[2022-02-11 09:20] hg-ms commented on #308
The cause of the deadlock is related to PR #306.
In the LazyReferenceManager the private method “countReferences” is used to create some logging output. This method can cause a deadlock if Lazy-References are loaded at the same time.

A fix that replaces the dangerous logging is available here:
https://github.com/microstream-one/microstream/tree/deadlockInLazyReferenceManager_fix_308

@fh-ms: plea

[2022-02-12 06:32] 54446776 commented on #308
bug fixed. thx for the quick response.

[2022-02-14 14:22] #308 closed, assigned to fh-ms, hg-ms

[2022-03-11 10:13] Sandared opened #320 "Excessive RAM usage by Microstream"
## Environment Details
* MicroStream Version: 06.01.00-MS-GA
* JDK version: openjdk 11.0.7 2020-04-14
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.7+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.7+10, mixed mode)
* OS: Windows 11 Pro, Version 21H2, Build 22000.556
* Used frameworks: Plain Java

## Describe the bug
I have a data model like this
[code]
Data is stored as the root elem

[2022-03-15 17:10] Sandared opened #321 "Make (OSGi) dependency to jdk.internal.misc optional"
## Is your feature request related to a problem? Please describe.
Currently when I try to use Microstream 06.01.00-MS-GA in an OSGi runtime I receive resolver errors, complaining about 'one.microstream.base' missing requirement 'jdk.internal.misc'. This probably stems from current enhancements in the bnd Tool which is used internally by the maven bundle plugin to generate the manifest. (They now s

[2022-03-18 06:38] Sandared commented on #321
In fact, it would be even better to apply different configurations to different submodules of microstream. I was considering to do it myself, but reckognized that I have not enough knowledge about your code :/

##### What's the problem with the current configuration of maven-bundle-plugin?
Currently the configuration is defined in the root pom, which means, each submodule will be processed accordi

[2022-03-31 10:05] fh-ms opened #330 "Removal of deprecated content"
In V7 we marked some classes and methods as deprecated for removal in V8 [#277].
So we have to do as promised.
Also, mention all parts detailed in the changelog.

[2022-04-06 03:12] 54446776 opened #335 "Reduce StorageEntity memory consuming"
## Backgroup

Let see a situation:
**Database size:** is 271M(build with garbage collection)
➜  storage_db tree -h
[ 128]  .
├── [ 17K]  PersistenceTypeDictionary.ptd
└── [ 128]  channel_0
    ├── [271M]  channel_0_1.dat
    └── [ 170]  transactions_0.sft
1 directory, 3 files

**Heap size:** just load database without others framework(no spring ...
Used heap: 472M(after manual jvm gc)
one.microstr

[2022-04-07 07:00] hg-ms commented on #335
The memory is occupied by the StorageEntitiyCache. In the current versions that cache has a bug that prevents it from removing deleted entries. The beta - version 07.00.00-MS-beta1 has a fix for that.
With that fix and the storage garbage collection enabled (StorageEntityCache.Default.setGarbageCollectionEnabled(true);) can also configure the StorageEntitiyCache and the Housekeeping. Please see ht

[2022-04-07 11:22] 54446776 commented on #335
Let's see codes. After obj2 lazy reference cleared, StorageEntity$Default consuming memory unchange.

What I expect:

1.  StorageEntity$Default for the list(and the list elements) instances get recycled after root.obj2.clear();
2. if invoke root.obj2.get() later, the list get loaded into StorageEntityCache again.

[code]

[code]

ms version is : 07.00.00-MS-beta2

[2022-04-08 10:45] hg-ms commented on #335
In your example the Lazy referenced List and its content can’t be deleted by the GC because the original list still exists. If you set that list to null all the strings can be delete after the clear() call:

[code]
Additionally, the storage’s content is replaced with a new root at every run. I’m not sure if that is intentional.
Regrading the EntityCache, it will not shrink in all usecases to zero.

[2022-04-11 06:28] 54446776 commented on #335
Thanks for the answer. I understand how to use EntityCache correctly now.

After run your example code, I found there are DefaultObjectRegistry$Entry objects live after storage.shutdown().
one.microstream.persistence.internal.DefaultObjectRegistry$Entry	48,056,832 B (61.7%)	1,001,184 (68.3%)

Is a correct behaviours ?

[2022-04-11 08:33] hg-ms commented on #335
You’re right. There are some flaws regarding the storage shutdown not releasing everything, like remainig entries in the ObjectRegistry...

If required, it is possible to clear the ObjectRegistry manually after the shutdown.
[code]
If you do that, please ensure that you done reuse any already initialized Storage or Storage-Foundation if starting a storage again.

[2022-04-11 09:55] 54446776 commented on #335
Order take effect. Below code work for me.

[code]

Thank you again.

[2022-04-11 09:55] #335 closed, assigned to nobody

[2022-04-11 11:46] #277 closed, assigned to fh-ms

[2022-04-26 07:15] fh-ms commented on #293
Need to specify in detail what could be logged in AFS.

[2022-04-26 07:15] #293 closed, assigned to zdenek-jonas, m-stoer, fh-ms, hg-ms

[2022-04-26 07:15] #196 closed, assigned to zdenek-jonas, fh-ms

[2022-04-27 07:12] fh-ms opened #353 "Move to Java 11"
As discussed, we will update to Java 11 as a minimum requirement with version 8.
Within this step, we can build true JMS compatible modules without Maven hackery.

[2022-04-27 14:38] fh-ms commented on #353
See branch [java11](https://github.com/microstream-one/microstream/tree/java11).

Two modules still need attention:
- integrations/cdi
- [x]  integrations/spring-boot

If the module-info is added in these projects, the build fails. Probably an update of the CDI and MicroProfile dependencies is necessary.

[2022-05-01 14:54] HansITChange opened #355 "Moving code from version 6.1 to 7 generates unresolvable imports"
* MicroStream Version: 6.1 migrating to 7
* JDK version: jdk 18
* OS: Windows
* Used frameworks: eclipse, maven

When moving to version 7.0, imports get invalid.

Import one.microstream.persistence.types: generates 'The import one cannot be resolved'

[2022-05-02 07:50] rdebusscher commented on #355
Hi @HansITChange ,

Can you indicate the MicroStream artifacts that you use in your project and exact error message?

This seems to indicate that something went wrong when downloading the artifact.

Thx
Rudy

[2022-05-02 08:28] HansITChange commented on #355
Hi Rudy,

This is what I have in my pom.xml:

[code]
and this is the error message I get:
![image](https://user-images.githubusercontent.com/30934446/166206026-25981a9d-971c-4179-9332-8eec3c4325cc.png)

The code still works under version 6.01 ...
Any ideas ?
Thanks,
Hans.

[2022-05-02 08:29] zdenek-jonas commented on #353
We have the following Warnings in the build code:
Example for Microstream Cache:
[code]

[2022-05-02 09:30] hg-ms commented on #355
The import should work.
Did you try to build your project using maven in the terminal (e.g. mvn clean package)?
You may also try to update the maven project in Eclipse (right-click the pom.xml -> maven -> update project)

[2022-05-02 09:31] rdebusscher commented on #355
Hi Hans,

I cannot reproduce the problem.  I created a maven project with the same 2 artifacts and the Persister object is available.

The class is included in the transient dependency `one.microstream:microstream-persistence`.

This is the output of `dependency:tree` command
[code]

[2022-05-02 09:47] HansITChange commented on #355
Hi,
I had (from previous versions) the following code in pom.xml :

[code]

After removing this and cleaning the project, it looks ok now.

Thanks for the help !
Hans.

[2022-05-02 12:11] #355 closed, assigned to rdebusscher

[2022-05-03 06:13] zdenek-jonas commented on #245
LocalDateTime is now supported with Android module.
https://mvnrepository.com/artifact/one.microstream/microstream-persistence-binary-android

[code]

Field without symbol == supported without special android module
<img width="839" alt="image" src="https://user-images.githubusercontent.com/17253582/166410904-9b9398ba-76ce-4804-b0f6-451a9dd01372.png">

[2022-05-03 06:13] #245 closed, assigned to nobody

[2022-05-03 06:14] zdenek-jonas opened #356 "Add Docu for Android, how to add persistence module for android to project"
Add Docu for Android, how to add persistence module for android to project:
https://mvnrepository.com/artifact/one.microstream/microstream-persistence-binary-android

Gradle:
[code]

[2022-05-03 07:21] hg-ms commented on #214
we have a FieldEvaluator for that => closed

[2022-05-03 07:21] #214 closed, assigned to nobody

[2022-05-03 07:27] hg-ms commented on #206
Serializer API added in version 07.00.00-MS-GA

[2022-05-03 07:27] #206 closed, assigned to fh-ms

[2022-05-03 07:39] hg-ms commented on #193
please retest

[2022-05-03 09:11] zdenek-jonas commented on #193
Retest successful. Issue closed

[2022-05-03 09:11] #193 closed, assigned to zdenek-jonas, tm-ms

[2022-05-03 11:26] #197 closed, assigned to hg-ms

[2022-05-04 05:44] hg-ms commented on #222
The class one.microstream.storage.configuration.Configuration has been marked deprecated already in version 07.00.00-MS-GA . The replacement is one.microstream.storage.embedded.configuration.types.EmbeddedStorageConfigurationBuilder.
Therefore we won’t fix that bug.

[2022-05-04 05:44] #222 closed, assigned to nobody

[2022-05-04 07:34] zdenek-jonas commented on #353
Android tested, works:
How to setup gradle with java11: https://stackoverflow.com/questions/66980512/android-studio-error-android-gradle-plugin-requires-java-11-to-run-you-are-cur
Works from Gradle plugin version 7
https://developer.android.com/studio/releases/gradle-plugin
Tested for Android 8+

[2022-05-04 09:39] hg-ms commented on #210
fix in branch: bug/StorageViewerEmptyRoot_210
also update dependencies

[2022-05-06 07:10] changchengqin opened #358 "What a powerful and shocking revolutionary product, the ultimate solution"
## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Addi

[2022-05-06 08:20] c-koell opened #360 "After changing Set to Lazy<Set> we get Incompatible types: java.util.Set -> one.microstream.reference.Lazy"
## Environment Details
* MicroStream Version: 07.00.00-MS-GA
* JDK version: OpenJDK 17
* OS: Windows 10
* Used frameworks: MicroStream CDI on OpenLiberty

## Describe the bug
I have tested a little bit and tried to change the Set of the Root Object to a Layz Set

[code]

## To Reproduce
Change the internal Type to a Layze Type

## Expected behavior
Hmm i think it should be possible or not ?

[2022-05-06 08:50] fh-ms commented on #353
I'm afraid we'll have to live with that:
https://stackoverflow.com/questions/46501047/what-does-required-filename-based-automodules-detected-warning-mean

[2022-05-06 10:33] #353 closed, assigned to fh-ms

[2022-05-09 07:43] rdebusscher commented on #360
Hi @c-koell ,

The exception is expected since the type that is associated with the data when it is stored in the past, does not match with the current types in the application in this run.
It is not like the standard JVM serialization that it just accepts anything that is stored. We avoid all kinds of security vulnerabilities .

You have the option to map the types, from Set to Lazy<Set> but this

[2022-05-09 07:44] rdebusscher commented on #360
We can think about a feature that allows for code changes like in your case as it probably makes sense that at some point you sometimes want to start using Lazy<T> types when the data grows.

[2022-05-09 08:29] c-koell commented on #360
@rdebusscher that would be cool. I Think it is a normal evolve that you change at a later time to lazy.

[2022-05-11 06:51] Sandared opened #362 "Improve log statements for zombie references"
## Is your feature request related to a problem? Please describe.
In the past we had some issues with zombie references in our data structure. Microstream did notice us with WARN level log statements like these:
[code]

However to find out what object type causes these zombie references we had to change the log level to DEBUG which causes a ton of log statements from microstream only to find the r

[2022-05-11 10:57] zdenek-jonas commented on #210
Ok, works
<img width="1308" alt="image" src="https://user-images.githubusercontent.com/17253582/167833846-cb8809a6-78c0-4445-a332-40522e2bb280.png">

[2022-05-16 08:51] #210 closed, assigned to hg-ms

[2022-05-16 13:08] hg-ms commented on #362
Many thanks for the proposal.
I agree that providing more information in the warning that helps to identify the related object(s) would useful.

[2022-05-18 06:20] hg-ms commented on #192
feature branch:
https://github.com/microstream-one/microstream/tree/feature/ValidateChannelFolders-192

[2022-05-23 08:53] zdenek-jonas commented on #192
ok tested

[2022-05-23 12:27] #192 closed, assigned to hg-ms

[2022-05-30 19:17] rdebusscher opened #374 "Unnecessary synchronisation in `StoreInterceptor`of CDI integration"
The `StoreInceptor` enforces that the StorageManager is accessed only by a single thread at a time.

https://github.com/microstream-one/microstream/blob/0a5ccf61aaa2e13d5f4c9debbde661f78dec3bc3/integrations/cdi/src/main/java/one/microstream/integrations/cdi/types/extension/StoreInterceptor.java#L67-L72

But this is not needed since there is already a synchronisation in the PersistenceManager (`syn

[2022-06-03 08:13] hg-ms commented on #209
A short analysis:

Step 1:
Stores the enum and register it as root with id 100 and root-entry "enum 100"

Step 2:
Creates a legacy typehandler mapping from id 100 to id 102.
Tthe root constants will be changed to "enum 102".
The stored enum instance won't be updated!

Step 3:
Creates a legacy typehandler mapping from id 100 to id 103, but not for type 102 to 103 as the instance stored in step stil

[2022-06-09 17:18] eucariop commented on #248
Hi, @zdenek-jonas
Ok understood but if can configure Java JDBC in OSS so or does Enterprise edition exist?

[2022-06-10 11:45] rdebusscher commented on #208
Based on a discussion on another issue, this might not be desirable.  Rollback assumes that the state of the memory is not the primary source but the external storage is.
This goes against the idea

[2022-06-20 09:17] hg-ms commented on #209
PR #373 tries to create the missing legacy-type handler automatically.

[2022-06-20 13:23] #209 closed, assigned to nobody

[2022-06-28 12:30] rdebusscher opened #377 "Improve CDI integration"
The current CDI integration does not cover all use cases using annotations since it persist the Iterables and Maps fields from the root class.

This improved integration collects the changed objects (objects marked as dirty) using a fluent API and those are stored at the end of the method (or the JAX-RS request)

[code]

This integrations allows to clearly indicate what is changed and stores the c

[2022-06-30 07:49] rdebusscher commented on #377
Add the ability to inject into classes annotated with `@Storage`. Currently it becomes a CDI bean but no injection in supported.

[2022-06-30 12:19] rdebusscher commented on #374
No longer valid due to changes in #377 .

[2022-06-30 12:19] #374 closed, assigned to nobody

[2022-06-30 15:05] rdebusscher commented on #377
Fix issue when using 'injected StorageManager from config'.

When you have the following construct

	@Inject
	@ConfigProperty(name = "one.microstream.ini")
	private StorageManager manager;

and you are using `@Storage` and `@Store` you have the following error:

[2022-06-30 15:10] rdebusscher commented on #377
Fix support for SQL based and other targets.

When using configuration properties like

[code]

not Postgres is used but the default file based storage since the configuration keys are not properly transferred to a Configuration object.

**UPDATE**

It is actually possible to use other targets already in current version of CDI integration, but not in an intuitive way (and different as advertised :

[2022-07-05 05:53] hg-ms opened #381 "Legacy type mapping with enum corrupts storage"
If legacy type mapping is applied to enumerations in a specific way the storage may get corrupted without warning. The corrupted storage is no more loadable, it throws an exception when loading:
[code]

Here is how-to:
1.	Create a simple enum with two constants like:
`enum TestEnum {
   ONE,
   TWO
}`

2.	Create a new storage and store an instance of that enum.
3.	Modify the enum, swap the constan

[2022-07-06 12:46] 54446776 opened #382 ""Optional Storage Manager Reference in Entities" doc incorrect"
## Environment Details
* MicroStream Version: 07.00.00-MS-GA
* JDK version: 17
* OS: Mac
* Used frameworks: none

## Describe the bug
https://docs.microstream.one/manual/storage/customizing/optional-storage-manager-reference-in-entities.html

class MyEntity
{
	String name ;
	int    value;
	transient EmbeddedStorageManager storage;
}
Using class type EmbeddedStorageManager always get null.
Change E

[2022-07-07 09:44] hg-ms commented on #382
Hello,
Many thanks for hint. This is indeed an error in the documentation. As you stated the field type has to be `one.microstream.persistence.types.Persister`.

TODO:
fix documentation

[2022-07-07 13:30] #382 closed, assigned to hg-ms

[2022-07-08 11:51] rdebusscher opened #384 "Spring Boot integration: Add interceptor logic to store marked objects at end of method."
In order to align the functionality of the integrations, add interceptor logic to store marked objects at end of method.

This is similar to the functionality added in #377

We can collect the changed objects (objects marked as dirty) using a fluent API and those are stored at the end of the method

public interface DirtyMarker {
    <T> T mark(T instance);
}
This integration allows to clearly ind

[2022-07-08 11:52] #377 closed, assigned to rdebusscher

[2022-07-20 06:23] rdebusscher opened #388 "CDI Integration: Allow customization of the EmbeddedStorageFoundation before StorageManager is created"
The integration should have the following flow

- Build EmbeddedStorageFoundation from the Configuration values
- Allow customizations by the developer
- Create StorageManager
- Allow initialization of the StorageManager (like adding initial data when storage is created at the first run)

CDI beans will be called that implement the new to create interfaces `EmbeddedStorageFoundationCustomizer` and

[2022-07-20 09:59] rdebusscher commented on #384
Also adds interfaces `EmbeddedStorageFoundationCustomizer` and `StorageManagerInitializer` to customize the Spring beans.

[2022-07-20 11:55] zdenek-jonas opened #391 "Organize configuration keys by product."
Currently, the configuration using the default configuration files is created for storage. So we now have keys of type:
[code]

which all relate to but storage. But currently, Microstream offers more products than just storage.

Therefore, I propose to change these keys as follows:
[code]

and for other products for example:
[code]

And for Spring configuration will be:
`one.microstream.storage.*`

[2022-07-26 02:45] vahida1157 opened #393 "Storage exception in microstream"
## Environment Details
* MicroStream Version: 06.01.00-MS-GA Also 07.00.00-MS-beta2
* JDK version: 13
* OS: Windows
* Used frameworks: JavaCore, JavaFx

## Describe the bug
A clear and concise description of what the bug is.
I'm using microstream and I try to save my content (Object) in storage :
`EmbeddedStorageFoundation esf = EmbeddedStorageFoundation.New().setConfiguration(storageConfiguration

[2022-07-26 13:58] hg-ms commented on #393
Hello

Is the exception thrown at the first start of your application or at a later (re) start in the same process?

If it is not the first start:
Did you check that there is no other Microstream instance alive that works with the directory mentioned in the exception?

Another cause might be a “reused” part of the configuration that is in an inconsistent state.
To avoid that I’d suggest creating a

[2022-07-26 16:15] vahida1157 commented on #393
It happened at first, So you think the problem is because of StorageConfiguration. but when I delete the settingsstorage and run the app, everything is ok and I can add and remove data, so the problem shouldn't be from code 🤔.

[2022-07-27 11:06] hg-ms commented on #393
The exception indicates that there is already another Microstream storage registered with read access when the storage requires write access to the transactions_0.sft file. If there are no reused configurations, foundation or other Microstream instances involved the problem is quite odd.

Does the exception also occur if you run a very simple java core example?
Is it possible that you provide a sm

[2022-07-27 14:13] vahida1157 commented on #393
[UserSetup.zip](https://github.com/microstream-one/microstream/files/9199593/UserSetup.zip)
This is the file that I can't write to it.
Is that possible that the .sft file has been corrupted?
I deleted the .sft file after writing the above line and testing it. It's worked well 🤔

[2022-07-28 06:45] rdebusscher opened #394 "@Store leads to ConcurrentModificationException within CDI interceptor"
The usage of `@Store` violates the synchronised access to shared mutable data with MicroStream principle. See also https://docs.microstream.one/manual/storage/root-instances.html#_synchronize_access_to_shared_mutable_data

When a call to `StorageManager.store()` is not protected with the same lock or synchronised on the same 'Object' then the change that is made to the Object graph, a `ConcurrentM

[2022-07-28 06:46] rdebusscher commented on #394
Since there is no possibility to reliable implement an Interceptor based approach within the integration, the `@Store` and `DirtyMarker` needs to be removed with no replacement or alternative available.

[2022-07-28 09:53] hg-ms commented on #393
I doubt that the transaction file is corrupted. Even if it is, the exception indicates that the storage denies write access because there is another component already accessing the file. A corrupted transaction file would throw another exception.
If you delete the transaction file the storage will create a new one at the next start and gets the required write access.

Another question:
Do you have

[2022-08-01 11:14] #394 closed, assigned to rdebusscher

[2022-08-01 11:15] #384 closed, assigned to rdebusscher

[2022-08-03 11:32] JohannesRabauer opened #400 "Automatically zip backup folder"
The backup functionality is great in MicroStream. It saves gigabytes of data within in seconds to the disk.

If i zip any backuped folder the gigabytes of data are shrunken to a few hundred megabytes.
Since i run a backup daily the accumulated data is quite large.

Now the proposal: Add an option to automatically zip the backed data. This way backed up data needs much less space.

[2022-08-04 13:35] hg-ms commented on #400
Many thanks for your proposal.

If you use the one.microstream.storage.types.StorageConnection.issueFullBackup(ADirectory) API to create Backups a solution may be already available. You can utilize the Java ZipFileSystem (https://docs.oracle.com/javase/8/docs/technotes/guides/io/fsp/zipfilesystemprovider.html) to supply a target directory inside a zip file:

[code]

Please note that we don’t suppo

[2022-08-05 07:35] #388 closed, assigned to rdebusscher

[2022-08-09 08:35] fh-ms opened #403 "Replace remaining RuntimeExceptions with properly typed ones"
In a lot of places, plain RuntimeExceptions are still used. We should replace them with properly typed ones.
Places in code are marked with `// ... EXCP: proper exception`

[2022-08-14 17:36] mainzelM opened #406 "Typo in FAQ: ALL_UNNAMED instead of ALL-UNNAMED"
The FAQ at https://docs.microstream.one/manual/storage/faq/java-features.html says you need to pass

`--add-exports java.base/jdk.internal.misc=ALL_UNNAMED`

to enable support for Java Records, but actually, it's

`--add-exports java.base/jdk.internal.misc=ALL-UNNAMED`

I.e. minus sign instead of underscore. The error message inside the code (JdkInternals) is correct, but the difference is not eas

[2022-08-14 19:45] mortensen commented on #358
This ticket is spam and can be closed.

[2022-08-16 08:09] #406 closed, assigned to fh-ms

[2022-08-16 10:16] #358 closed, assigned to nobody

[2022-08-19 14:17] rfichtner opened #410 "Clean up dependencies"
## Describe the bug
There are some declared and some undeclared dependencies in the project.

## To Reproduce
run ` mvn org.apache.maven.plugins:maven-dependency-plugin:3.3.0:analyze` to get a list of dependency problems for each module.

## Expected behavior
` mvn org.apache.maven.plugins:maven-dependency-plugin:3.3.0:analyze` should output no problems.

[2022-08-22 04:42] zdenek-jonas commented on #410
@rfichtner
Here I'm not sure if it is correct to list all versions in the dependency for transitive dependencies.

Example:
for module:

[code]
These are all modules that are transitive over a single ancestor.
This project has a clear tree-like structure, has parent pom poms and the same versions.

Is it some good practice to add even transtive dependencies to the own product in pom.xml for each m

[2022-08-23 11:27] ts-00 opened #413 "restservice-spark: Unable to find ServletContextHandler for provided ServletContext"
## Environment Details
* MicroStream Version: 07.00.00-MS-GA
* JDK version: 17
* Used frameworks: Wildfly Server (version 26)

## Describe the bug
I used Wildfly with `Microstream version 06.00.00-MS-GA` without any problems. I only needed to use `spark-core v 2.8.0` instead of  `spark-core v 2.9.3` because of https://github.com/microstream-one/microstream/issues/238.

After updating my `pom.xml`

[2022-08-24 08:38] JohannesRabauer commented on #400
Thank you for your answer. We will try it out.

[2022-08-24 08:38] #400 closed, assigned to nobody

[2022-09-09 08:40] hg-ms opened #425 "Update helidon-mp example"
Our Helidon-MP example currently uses Helidon 2.3.2.
When updating to Helidon version 2.5.2 the example will build throw an exception at startup:

[code]

I was able to fix that by adding the jul-to-slf4j depenency as a quick  fix.
[code]

We should update the heldion version used by our example and check the required dependencies

[2022-09-13 07:58] hg-ms opened #427 "UserAPI read only mode"
We’d like to provide a Microstream operation mode that rejects all store operations trigged by the public store API to prevent accidental changes to the persisted data by applications. It is not intended to prevent all write operations! Write operations by other (internal) APIs should still be possible.

-> The read only mode should prevent write operations triggered via the public storing API fro

[2022-09-13 08:00] hg-ms commented on #427
A first solution is available in branch #427

[2022-09-13 14:09] hg-ms commented on #199
a first implementation is in branch https://github.com/microstream-one/microstream/tree/feature/readOnlyMode_199

[2022-09-14 08:58] JohannesRabauer opened #432 "Changes of enum crashes storage"
## Environment Details
* MicroStream Version: 05.00.02-MS-GA / 07.00.00-MS-GA
* JDK version: 17
* OS: Windows 10

## Describe the bug
Given i have following enum:
[code]
Now i can save an instance of the following class:
[code]
All well and good. What i did was, that i changed the Enum to following:
[code]
Granted this seems silly, but only in this example. In productive code this isn't something

[2022-09-14 09:18] hg-ms commented on #432
same as #381

[2022-09-16 09:15] rdebusscher opened #443 "Add missing documentation for some connectors"
Not all connectors are documented https://docs.microstream.one/manual/storage/storage-targets/index.html.

The following, previously enterprise connectors, are missing

- SAP HANA
- Google Firestore
-

[2022-09-16 11:09] hg-ms commented on #432
What happened is that you created two versions of the ExampleEnum that have a conflict in their ordinals:
The first version has the constant “SECOND_ENUM” with ordinal 1
The second version has constant “THIRD_ENUM” with ordinal 1

When updating the persisted old version to the new one the automatic legacy type handling unfortunately doesn’t recognize that conflict and allows to persist that “bad”

[2022-09-16 14:14] rdebusscher commented on #425
Issue is due to Helidon 2.4+ containing older versions of MicroStream (due to Helidon integration and using the Helidon POM import.

See https://github.com/microstream-one/microstream/pull/444

[2022-09-21 08:24] kitenco opened #445 "Data encryption at rest"
Are there any plans for on-device data encryption integrated in microstream?

For comparison:
in the past we used couchbase lite and their feature of database encryption at rest
https://docs.couchbase.com/couchbase-lite/current/java/database.html#database-encryption

Maybe I overlooked it in the documentation, than I am sorry for that

[2022-09-22 06:40] hg-ms commented on #445
Hello,
That’s a legitimate question. An integrated encryption of the storage is currently not available or planned for the near future.
At the moment you have to relay on the storage target capabilities for encryption, e.g. using encrypted file systems.

[2022-09-27 11:22] JohannesRabauer commented on #432
With your help i could solve the first case

I loaded the old database with a BinaryLegacyTypeHandler and solved the issue. Thanks!

[2022-09-27 11:22] #432 closed, assigned to nobody

[2022-09-28 14:05] bugabinga commented on #410
If your code imports from a module, that module is no longer only transitive. It should be a declared dependency in Maven, so that you communicate your intent to other developers, that directly depending on that module was no mistake, but intentional.

[2022-09-29 08:58] #443 closed, assigned to fh-ms

[2022-09-29 09:00] fh-ms commented on #304
Fixed with #452

[2022-09-29 09:00] #304 closed, assigned to hg-ms

[2022-09-29 14:20] hypnoze opened #453 "Corrupted database with MariaDB while stress testing"
## Environment Details
* MicroStream Version: 07.01.00-MS-GA
* JDK version: 17.0.2
* OS: Windows 11 22H2
* Used frameworks: SpringBoot, MariaDB

## Describe the bug
I was doing some stress tests with JMeter for GET and POST, when I stumbled on a pretty nasty behavior.
When too many store occurs simultaneously, the database get corrupted, and there is no way to fix it, other than deleting it.

I wa

[2022-09-30 09:51] hg-ms commented on #453
Many thanks for the detailed error report.
I was able to reproduce that problem if using MariaDB as storage target.
The problem does not occur if the channel count is reduced to one.
The problem does not occur if the local nio file system is used as storage target.

As a workaround I’d suggest reducing the channel count to one or using a Nio-FS as storage target.

[2022-10-03 07:55] hypnoze commented on #453
Thank you for your quick answer !

I tried with 1 channel, and I have the same behaviour
![image](https://user-images.githubusercontent.com/33163419/193525689-06d1ff85-249d-4f04-a46e-3457dc5fb285.png)

I guess working with any other DB could be a workaround (althought I only tried PSQL), I just wanted to warn you about MariaDB.

[2022-10-07 12:56] hg-ms commented on #427
merged with PR #428

[2022-10-07 12:56] #427 closed, assigned to hg-ms

[2022-10-07 13:00] hg-ms commented on #199
solved by PR #436

[2022-10-07 13:00] #199 closed, assigned to hg-ms

[2022-10-08 00:15] jelemux opened #454 "CDI integration not working with Quarkus"
## Is your feature request related to a problem? Please describe.
The CDI integration does not work with Quarkus, because Quarkus' CDI implementation intentionally will not support Synthetic Beans. For that reason an `UnsatisfiedResolutionException` is thrown for `StorageExtension`.

## Describe the solution you'd like
Quarkus provides an alternative way to register extensions: https://quarkus.io/

[2022-10-08 06:32] whisper-bye opened #455 "Spring integration not working"
## Environment Details
* MicroStream Version: 07.01.00-MS-GA
* JDK version: 17.0.4
* OS: macOS
* Used frameworks: e.g. MicroFramework X, Spring, ... Spring

## Describe the bug
A clear and concise description of what the bug is.

Caused by: org.springframework.beans.factory.BeanNotOfRequiredTypeException: Bean named 'root' is expected to be of type 'com.example.demo.repository.Root' but was actual

[2022-10-10 14:49] Sandared opened #456 "List gets corrupted after loading from disk"
## Environment Details
* MicroStream Version: 07.01.00-MS-GA<
* JDK version: openjdk 11.0.16 2022-07-19 LTS
* OS: Linux

## Describe the bug
I defined a datatype that has a `List<XYZ>` member variable. Initially this List was instantiated as an ArrayList with one element and stored.
Then we replaced this list (unfortunately) via `oldList = List.of(anotherElement)` and stored it again.
Internally L

[2022-10-10 15:31] zdenek-jonas commented on #455
I just check your code. You have disabled 'use-current-thread-class-loader'. Please set it true, and then it should works.
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/17253582/194902724-3e8ba921-686c-47ce-ba5c-9ed60dc304d8.png">

[2022-10-11 06:28] hg-ms commented on #456
Many thanks for the demo.

I was not able to reproduce the issue with JDK 11, but it is a known behavior with JDK 15 or greater.
See https://github.com/microstream-one/microstream/issues/244.
For JDK 17 we provide some special type-handlers for those immutable lists.
(https://docs.microstream.one/manual/storage/addendum/specialized-type-handlers.html)

[2022-10-11 06:59] Sandared commented on #456
Thanks for the hint :) We got it fixed.

Strange thing is this behavior suddenly appeared during our unit tests. The same test code ran without errors last week. This week we suddenly got this error on different machines with different setups.

[2022-10-12 04:41] #455 closed, assigned to nobody

[2022-11-03 12:36] rfichtner opened #460 "Provide a SBOM for MicroStream"
## Is your feature request related to a problem? Please describe.
The creation of SBOMs is expected to be something that will be common practice, or sometimes even mandatory, when you deliver software. The US already has an "Executive Order on Improving the Nation’s Cybersecurity" with the SBOM requirement:
 https://www.whitehouse.gov/briefing-room/presidential-actions/2021/05/12/executive-order-o

[2022-11-10 09:13] rdebusscher commented on #454
Hi,

Quarkus integration will be provided through this Quarkus extension https://github.com/microstream-one/microstream/pull/422

regards
Rudy

[2022-11-10 09:13] #454 closed, assigned to nobody

[2022-11-10 09:14] rdebusscher commented on #425
Fixed by #444

[2022-11-10 09:14] #425 closed, assigned to rdebusscher

[2022-11-16 09:07] Sandared commented on #456
A follow-up question regarding the specialized type handlers for immutable lists:
Is there any danger in using these on Java 11?
We are currently running on Java 11, but want to upgrade to Java 17 and now we are thinking about introducing those type handlers while we are still on 11. Is this possible? Or will this lead to errors?

[2022-11-17 07:58] hg-ms commented on #456
The Handler will work with java 17 and later only because the package is compiled with java 17.
While using java 11 you can do without those handlers. But if you migrate to java 17 you must use those handlers.

The reason why you need that handler is a change in the java implementation of the immutable List and Set with one and two elements (java.util.ImmutableCollections.List12<E>). If that List1